<div class="row">
    <div class="col-6">
        <form [formGroup]="profileFormGroup" (submit)="handleSubmit($event)">
            <div class="form-group">
                <label>Name</label>
                <input class="form-control" formControlName="name" />
            </div>
            <div class="form-group">
                <label>Email</label>
                <input class="form-control" formControlName="email" />
            </div>
            <div class="form-group">
                <label>Mobile</label>
                <input class="form-control" formControlName="mobile" />
            </div>
            <ng-container formArrayName="skills">
                <ng-container *ngFor="let sk of skills.controls;let idx=index;">
                    <div class="form-group">
                        <label>Skill</label>
                        <form [formGroup]="sk">
                            <div class="input-group mb-3" >
                                <input class="form-control" placeholder="Skill" formControlName="name" />
                                <input class="form-control" placeholder="Exp" formControlName="exp" />
                                <button (click)="removeSkill(0)" type="button" class="btn btn-sm btn-danger">delete</button>
                            </div>
                        </form>
                    </div>

                </ng-container>
            </ng-container>
            <br />
            <button (click)="addNewSkill()" type="button" class="btn btn-sm btn-success">Add new Skill</button>
            <br />
            <hr />
            <button class="btn btn-primary">submit</button>
            <hr />
        </form>
    </div>
</div>