.box {
  height: 600px;
  background-color: rgb(243, 243, 24);
  display: flex;
  justify-self: flex-start;
  align-items: flex-start;
}

.item {
  width: 100px;
  height: 100px;
  margin: 5px;
  color: white;
  background-color: teal;
}

.item-1 {
  width: 150px;
}
.item-4 {
  align-self: flex-end;
  width: 300px;
}

.item-3 {
  height: 150px;
}
.item-5 {
  height: 200px;
}
