<footer class="footer">
  <span class="todo-count">{{ todoLeftCount }} items left</span>
  <ul class="filters">
    <li>
      <a
        (click)="handleFilter($event, 'ALL')"
        href="/"
        [ngClass]="{ selected: currentFilter === 'ALL' }"
      >
        All
      </a>
    </li>
    <li>
      <a
        (click)="handleFilter($event, 'ACTIVE')"
        href="/"
        [ngClass]="{ selected: currentFilter === 'ACTIVE' }"
      >
        Active
      </a>
    </li>
    <li>
      <a
        (click)="handleFilter($event, 'COMPLETED')"
        href="/"
        [ngClass]="{ selected: currentFilter === 'COMPLETED' }"
      >
        Completed
      </a>
    </li>
  </ul>
  <button
    *ngIf="someCompleted"
    (click)="handleClearCompleted()"
    class="clear-completed"
  >
    Clear completed
  </button>
</footer>
