<div class="container">
  <!-- Navbar -->
  <app-navbar [title]="title"></app-navbar>

  <!-- cart-badge -->
  <app-cart-badge></app-cart-badge>

  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="/">
        Home
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/items">
        Items
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/cart">
        Cart
      </a>
    </li>
  </ul>
  <hr />

  <router-outlet></router-outlet>
</div>
