<button *ngIf="!isFormOpen" (click)="toggleIsFormOpen()">
    <i class="fa fa-plus"></i>
</button>

<div class="row" *ngIf="isFormOpen">
    <div class="col-8">
        <form (submit)="handleSubmit($event)">
            <div class="card">
                <div class="card-header">ReviewForm</div>
                <div class="card-body">
                    <div class="form-group">
                        <label>Author</label>
                        <input [(ngModel)]="author"  name="author" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Stars</label>
                        <select class="form-control" [(ngModel)]="stars" name="stars">
                            <option *ngFor="let n of [1,2,3,4,5]">{{n}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Body</label>
                        <textarea [(ngModel)]="body" name="body" class="form-control"></textarea>
                    </div>
                </div>
                <div class="card-footer">
                    <button (click)="toggleIsFormOpen()" class="btn btn-danger btn-sm">cancel</button>
                    &nbsp;
                    <button class="btn btn-dark btn-sm">submit</button>
                </div>
            </div>
        </form>
    </div>
</div>